# DEPENDENCIES
/node_modules
/.pnp
.pnp.js

# TESTING
/coverage
/test
test

# - KLAVIYO
/dev
/dev/KlaviyoSnippets.js
KlaviyoSnippets.js
KlaviyoNotes.js

# NEXT.JS
/.next/
/out/
next.lock
package-lock.json

# PRODUCTION
/build

# DEBUG
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# MISC
.idea
/.idea
*.pem
.DS_Store
.env
.env.atelier
.env.local
.env.development.local
.env.test.local
.env.production
.env.production.local

# VERCEL
.vercel

# CONTENTLAYER
.contentlayer
