.list {
  position: relative;
  width: 100%;
  height: 100%;
}

.list > div {
  position: absolute;
  will-change: transform, width, height, opacity;
  padding: 15px;
}

.list > div > div {
  position: relative;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
  border-radius: 4px;
  box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.2);
}

/* Tab Groups */

.tab__group {
  align-items: center;
  padding: 4rem;
  margin: auto;
  width: 80%;
}

@media only screen and (max-width: 600px) {
.tab__group {
  align-items: center;
  padding: 2rem;
  margin: auto;
  width: 100%;
}
}

.tab__navbar {
  align-items: center;
  margin: auto;
  width: 100%;
}

.tab__button {
  max-width: auto;
  margin-left: 4px;
  margin-right: 4px;
  padding: 4px;
}

.tab__content {
  align-items: center;
  padding: 4rem;
  margin: auto;
}

.tab__panels {
  align-items: center;
  margin-top: 10px;
  height: auto;
  text-align: left;
  width: 100%;
  background-color: rgba(240,240,240,0.8);
  backdrop-filter: blur(2rem);
  border-style: solid;
  border-width: 1px;
  border-color: #231f20;
  border-radius: 18px;
}

@media only screen and (max-width: 600px) {
.we__are {
  width: 200px !important;
  height: 100px !important;
  }
}

input,
.notranslate needsclick go1800728209 kl-private-reset-css-Xuajs1 {
box-sizing: border-box;
border-top-left-radius: 8px !important;
border-top-right-radius: 8px !important;
border-bottom-right-radius: 8px !important;
border-bottom-left-radius: 8px !important;
padding: 0px 0px 0px 16px;
height: 38px;
text-align: left;
color: rgb(35, 31, 32);
font-family: 'Helvetica Now Text', sans-serif !important;
font-size: 14px;
font-weight: normal;
letter-spacing: 0px;
background-color: #fff;
border: 2px solid rgb(180, 187, 195);
}

button,
.needsclick go3883546787 kl-private-reset-css-Xuajs1 {
box-sizing: border-box;
border-top-left-radius: 8px !important;
border-top-right-radius: 8px !important;
border-bottom-right-radius: 8px !important;
border-bottom-left-radius: 8px !important;
padding: 0px 0px 0px 16px;
height: 38px;
text-align: left;
color: rgb(35, 31, 32);
font-family: 'Helvetica Now Text', sans-serif !important;
font-size: 14px;
font-weight: normal;
letter-spacing: 0px;
background-color: #fff;
border: 0px solid rgb(180, 187, 195);
}

.klaviyo__wrapper {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
width: 100%;
text-align: center;
align-items: center;
margin: auto;
background-color: transparent;
padding: 2rem;
z-index: 2;
}
