/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * Folio STD:
 *
 * © 2016-2021 Atelier Design Yield. All Rights Reserved.
 */
/*{"last_published":"2021-10-27 06:53:15 UTC"}*/


@font-face {
    font-family: 'Folio Std';
    src: url('/fonts/FolioStd-Light.eot');
    src: local('Folio Std Light'), local('/fonts/FolioStd-Light'),
        url('https://cdn.ady.systems/typeface/FolioStd-Light.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.ady.systems/typeface/FolioStd-Light.woff2') format('woff2'),
        url('https://cdn.ady.systems/typeface/FolioStd-Light.woff') format('woff'),
        url('https://cdn.ady.systems/typeface/FolioStd-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Folio Std';
    src: url('/fonts/FolioStd-Medium.eot');
    src: local('Folio Std Medium'), local('/fonts/FolioStd-Medium'),
        url('https://cdn.ady.systems/typeface/FolioStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.ady.systems/typeface/FolioStd-Medium.woff2') format('woff2'),
        url('https://cdn.ady.systems/typeface/FolioStd-Medium.woff') format('woff'),
        url('https://cdn.ady.systems/typeface/FolioStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Folio Std';
    src: url('/fonts/FolioStd-BoldCondensed.eot');
    src: local('Folio Std Bold Condensed'), local('/fonts/FolioStd-BoldCondensed'),
        url('https://cdn.ady.systems/typeface/FolioStd-BoldCondensed.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.ady.systems/typeface/FolioStd-BoldCondensed.woff2') format('woff2'),
        url('https://cdn.ady.systems/typeface/FolioStd-BoldCondensed.woff') format('woff'),
        url('https://cdn.ady.systems/typeface/FolioStd-BoldCondensed.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Folio Std';
    src: url('/fonts/FolioStd-ExtraBold.eot');
    src: local('Folio Std Extra Bold'), local('/fonts/FolioStd-ExtraBold'),
        url('https://cdn.ady.systems/typeface/FolioStd-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.ady.systems/typeface/FolioStd-ExtraBold.woff2') format('woff2'),
        url('https://cdn.ady.systems/typeface/FolioStd-ExtraBold.woff') format('woff'),
        url('https://cdn.ady.systems/typeface/FolioStd-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Folio Std';
    src: url('/fonts/FolioStd-Bold.eot');
    src: local('Folio Std Bold'), local('/fonts/FolioStd-Bold'),
        url('https://cdn.ady.systems/typeface/FolioStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.ady.systems/typeface/FolioStd-Bold.woff2') format('woff2'),
        url('https://cdn.ady.systems/typeface/FolioStd-Bold.woff') format('woff'),
        url('https://cdn.ady.systems/typeface/FolioStd-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}















/* SF PRO DISPLAY */
/* Regular */

@font-face {
    font-family: 'SF Pro Display';
    src: url('https://cdn.ady.systems/fontface/SFProDisplay-Regular.eot');
    src: local('/SFProDisplay-Regular.woff2'), local('SFProDisplay-Regular.woff'),
        url('https://cdn.ady.systems/fontface/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.ady.systems/fontface/SFProDisplay-Regular.woff2') format('woff2'),
        url('https://cdn.ady.systems/fontface/SFProDisplay-Regular.woff') format('woff'),
        url('https://cdn.ady.systems/fontface/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Semi-Bold */

@font-face {
    font-family: 'SF Pro Display';
    src: url('https://cdn.ady.systems/fontface/SFProDisplay-Semibold.eot');
    src: local('/SFProDisplay-Semibold.woff2'), local('/SFProDisplay-Semibold.woff'),
        url('https://cdn.ady.systems/fontface/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.ady.systems/fontface/SFProDisplay-Semibold.woff2') format('woff2'),
        url('https://cdn.ady.systems/fontface/SFProDisplay-Semibold.woff') format('woff'),
        url('https://cdn.ady.systems/fontface/SFProDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* Bold */

@font-face {
    font-family: 'SF Pro Display';
    src: url('https://cdn.ady.systems/fontface/SFProDisplay-Bold.eot');
    src: local('/SFProDisplay-Bold.woff2'), local('/SFProDisplay-Bold.woff'),
        url('https://cdn.ady.systems/fontface/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.ady.systems/fontface/SFProDisplay-Bold.woff2') format('woff2'),
        url('https://cdn.ady.systems/fontface/SFProDisplay-Bold.woff') format('woff'),
        url('https://cdn.ady.systems/fontface/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* BERGEN MONOSPACE */
/* Regular */

@font-face {
    font-family: 'Bergen Mono';
    src: url('https://cdn.ady.systems/fontface/BergenMono-Regular.eot');
    src: local('/fonts/BergenMono-Regular.woff2'), local('/fonts/BergenMono-Regular.woff'),
        url('https://cdn.ady.systems/fontface/BergenMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.ady.systems/fontface/BergenMono-Regular.woff2') format('woff2'),
        url('https://cdn.ady.systems/fontface/BergenMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Semi-Bold */

@font-face {
    font-family: 'Bergen Mono';
    src: url('https://cdn.ady.systems/fontface/BergenMono-SemiBold.eot');
    src: local('/fonts/BergenMono-SemiBold.woff2'), local('/fonts/BergenMono-SemiBold.woff'),
        url('https://cdn.ady.systems/fontface/BergenMono-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.ady.systems/fontface/BergenMono-SemiBold.woff2') format('woff2'),
        url('https://cdn.ady.systems/fontface/BergenMono-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

/* Bold */

@font-face {
    font-family: 'Bergen Mono';
    src: url('https://cdn.ady.systems/fontface/BergenMono-Bold.eot');
    src: local('/fonts/BergenMono-Bold.woff2'), local('/fonts/BergenMono-Bold.woff'),
        url('https://cdn.ady.systems/fontface/BergenMono-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.ady.systems/fontface/BergenMono-Bold.woff2') format('woff2'),
        url('https://cdn.ady.systems/fontface/BergenMono-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
