/*
 * this @fontface stylesheet is used to deliver
 * Atelier Design Yield©, LLC web fonts.
 * the typefaces listed below may be subject to © Copyright
 *
 * https://cdn.ady.systems/typeface/
 * For font license information, see the list below.
 *
 *
 * 'fonts-included': {
 * 'NEUE PLAK' ( Regular, Semi-Bold, Bold, Extra-Bold ),
 * 'NEUE PLAK EXT' ( Black ),
 * 'HELVETICA NOW' ( Regular, Medium, Bold, Extra-Bold, Black ),
 * 'NEUE PLAK WIDE' ( Regular, Semi-Bold, Bold, Extra-Bold, Black ),
 * 'MOLDE EXPANDED',
 * 'MOLDE SEMI EXPANDED',
 * 'BERGEN MONO' ( Regular, Semi-Bold, Bold ),
 * 'HELVETICA' ( Fallback ),
 * },
 *
 * © 2016-2021 Atelier Design Yield. All Rights Reserved.
 *
 * "updated":"2021-10-27 06:53:15 UTC"
 *
 *
 */

/* HELVETICA NOW TEXT */

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://cdn.ady.systems/typeface/HelveticaNowText-Black.eot");
  src: local("Helvetica Now Text Black"), local("HelveticaNowText-Black"),
    url("https://cdn.ady.systems/typeface/HelveticaNowText-Black.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.ady.systems/typeface/HelveticaNowText-Black.woff2") format("woff2"),
    url("https://cdn.ady.systems/typeface/HelveticaNowText-Black.woff") format("woff"),
    url("https://cdn.ady.systems/typeface/HelveticaNowText-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://cdn.ady.systems/typeface/HelveticaNowText-Bold.eot");
  src: local("Helvetica Now Text  Bold"), local("HelveticaNowText-Bold"),
    url("https://cdn.ady.systems/typeface/HelveticaNowText-Bold.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.ady.systems/typeface/HelveticaNowText-Bold.woff2") format("woff2"),
    url("https://cdn.ady.systems/typeface/HelveticaNowText-Bold.woff") format("woff"),
    url("https://cdn.ady.systems/typeface/HelveticaNowText-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://cdn.ady.systems/typeface/HelveticaNowText-ExtraBold.eot");
  src: local("Helvetica Now Text  Extra Bold"), local("HelveticaNowText-ExtraBold"),
    url("https://cdn.ady.systems/typeface/HelveticaNowText-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.ady.systems/typeface/HelveticaNowText-ExtraBold.woff2") format("woff2"),
    url("https://cdn.ady.systems/typeface/HelveticaNowText-ExtraBold.woff") format("woff"),
    url("https://cdn.ady.systems/typeface/HelveticaNowText-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://cdn.ady.systems/typeface/HelveticaNowText-Regular.eot");
  src: local("Helvetica Now Text  Regular"), local("HelveticaNowText-Regular"),
    url("https://cdn.ady.systems/typeface/HelveticaNowText-Regular.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.ady.systems/typeface/HelveticaNowText-Regular.woff2") format("woff2"),
    url("https://cdn.ady.systems/typeface/HelveticaNowText-Regular.woff") format("woff"),
    url("https://cdn.ady.systems/typeface/HelveticaNowText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("https://cdn.ady.systems/typeface/HelveticaNowText-Medium.eot");
  src: local("Helvetica Now Text  Medium"), local("HelveticaNowText-Medium"),
    url("https://cdn.ady.systems/typeface/HelveticaNowText-Medium.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.ady.systems/typeface/HelveticaNowText-Medium.woff2") format("woff2"),
    url("https://cdn.ady.systems/typeface/HelveticaNowText-Medium.woff") format("woff"),
    url("https://cdn.ady.systems/typeface/HelveticaNowText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/*
 *
 * @fontface
 * NEAU PLAK
 *
 */

@font-face {
  font-family: "Neue Plak";
  src: url("https://cdn.ady.systems/typeface/NeuePlak-Regular.eot");
  src: local("Neue Plak"), local("NeuePlak-Regular"),
    url("https://cdn.ady.systems/typeface/NeuePlak-Regular.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.ady.systems/typeface/NeuePlak-Regular.woff2") format("woff2"),
    url("https://cdn.ady.systems/typeface/NeuePlak-Regular.woff") format("woff"),
    url("https://cdn.ady.systems/typeface/NeuePlak-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Plak";
  src: url("https://cdn.ady.systems/typeface/NeuePlak-Bold.eot");
  src: local("Neue Plak Bold"), local("NeuePlak-Bold"),
    url("https://cdn.ady.systems/typeface/NeuePlak-Bold.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.ady.systems/typeface/NeuePlak-Bold.woff2") format("woff2"),
    url("https://cdn.ady.systems/typeface/NeuePlak-Bold.woff") format("woff"),
    url("https://cdn.ady.systems/typeface/NeuePlak-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Plak";
  src: url("https://cdn.ady.systems/typeface/NeuePlak-SemiBold.eot");
  src: local("Neue Plak SemiBold"), local("NeuePlak-SemiBold"),
    url("https://cdn.ady.systems/typeface/NeuePlak-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.ady.systems/typeface/NeuePlak-SemiBold.woff2") format("woff2"),
    url("https://cdn.ady.systems/typeface/NeuePlak-SemiBold.woff") format("woff"),
    url("https://cdn.ady.systems/typeface/NeuePlak-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Neue Plak';
    src: url('https://cdn.ady.systems/typeface/NeuePlak-Black.eot');
    src: local('Neue Plak Black'), local('NeuePlak-Black'),
        url('https://cdn.ady.systems/typeface/NeuePlak-Black.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.ady.systems/typeface/NeuePlak-Black.woff2') format('woff2'),
        url('https://cdn.ady.systems/typeface/NeuePlak-Black.woff') format('woff'),
        url('https://cdn.ady.systems/typeface/NeuePlak-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: "Neue Plak Extra";
  src: url("https://cdn.ady.systems/typeface/NeuePlak-ExtraBlack.eot");
  src: local("Neue Plak Extra Black"), local("NeuePlak-ExtraBlack"),
    url("https://cdn.ady.systems/typeface/NeuePlak-ExtraBlack.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.ady.systems/typeface/NeuePlak-ExtraBlack.woff2") format("woff2"),
    url("https://cdn.ady.systems/typeface/NeuePlak-ExtraBlack.woff") format("woff"),
    url("https://cdn.ady.systems/typeface/NeuePlak-ExtraBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/*
 *
 * @fontface
 * NEAU PLAK Extended
 *
 */

@font-face {
  font-family: "Neue Plak Extended";
  src: url("https://cdn.ady.systems/typeface/NeuePlak-ExtendedBold.eot");
  src: local("Neue Plak Extended Bold"), local("NeuePlak-ExtendedBold"),
    url("https://cdn.ady.systems/typeface/NeuePlak-ExtendedBold.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.ady.systems/typeface/NeuePlak-ExtendedBold.woff2") format("woff2"),
    url("https://cdn.ady.systems/typeface/NeuePlak-ExtendedBold.woff") format("woff"),
    url("https://cdn.ady.systems/typeface/NeuePlak-ExtendedBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Plak Extended";
  src: url("https://cdn.ady.systems/typeface/NeuePlak-ExtendedBlack.eot");
  src: local("Neue Plak Extended Black"), local("NeuePlak-ExtendedBlack"),
    url("https://cdn.ady.systems/typeface/NeuePlak-ExtendedBlack.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.ady.systems/typeface/NeuePlak-ExtendedBlack.woff2") format("woff2"),
    url("https://cdn.ady.systems/typeface/NeuePlak-ExtendedBlack.woff") format("woff"),
    url("https://cdn.ady.systems/typeface/NeuePlak-ExtendedBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Plak Extended";
  src: url("https://cdn.ady.systems/typeface/NeuePlak-ExtendedLight.eot");
  src: local("Neue Plak Extended Light"), local("NeuePlak-ExtendedLight"),
    url("https://cdn.ady.systems/typeface/NeuePlak-ExtendedLight.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.ady.systems/typeface/NeuePlak-ExtendedLight.woff2") format("woff2"),
    url("https://cdn.ady.systems/typeface/NeuePlak-ExtendedLight.woff") format("woff"),
    url("https://cdn.ady.systems/typeface/NeuePlak-ExtendedLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Plak Extended Semi";
  src: url("https://cdn.ady.systems/typeface/NeuePlak-ExtendedSemiBold.eot");
  src: local("Neue Plak Extended Semi Bold"), local("NeuePlak-ExtendedSemiBold"),
    url("https://cdn.ady.systems/typeface/NeuePlak-ExtendedSemiBold.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.ady.systems/typeface/NeuePlak-ExtendedSemiBold.woff2") format("woff2"),
    url("https://cdn.ady.systems/typeface/NeuePlak-ExtendedSemiBold.woff") format("woff"),
    url("https://cdn.ady.systems/typeface/NeuePlak-ExtendedSemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Plak Extended";
  src: url("https://cdn.ady.systems/typeface/NeuePlak-ExtendedRegular.eot");
  src: local("Neue Plak Extended"), local("NeuePlak-ExtendedRegular"),
    url("https://cdn.ady.systems/typeface/NeuePlak-ExtendedRegular.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.ady.systems/typeface/NeuePlak-ExtendedRegular.woff2") format("woff2"),
    url("https://cdn.ady.systems/typeface/NeuePlak-ExtendedRegular.woff") format("woff"),
    url("https://cdn.ady.systems/typeface/NeuePlak-ExtendedRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Plak Extended Extra";
  src: url("https://cdn.ady.systems/typeface/NeuePlak-ExtendedExtraBlack.eot");
  src: local("Neue Plak Extended Extra Black"), local("NeuePlak-ExtendedExtraBlack"),
    url("https://cdn.ady.systems/typeface/NeuePlak-ExtendedExtraBlack.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.ady.systems/typeface/NeuePlak-ExtendedExtraBlack.woff2") format("woff2"),
    url("https://cdn.ady.systems/typeface/NeuePlak-ExtendedExtraBlack.woff") format("woff"),
    url("https://cdn.ady.systems/typeface/NeuePlak-ExtendedExtraBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/*
 *
 * @fontface
 * NEAU PLAK Wide
 *
 */

@font-face {
  font-family: "Neue Plak Wide";
  src: url("https://cdn.ady.systems/typeface/NeuePlak-WideBold.eot");
  src: local("Neue Plak Wide Bold"), local("NeuePlak-WideBold"),
    url("https://cdn.ady.systems/typeface/NeuePlak-WideBold.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.ady.systems/typeface/NeuePlak-WideBold.woff2") format("woff2"),
    url("https://cdn.ady.systems/typeface/NeuePlak-WideBold.woff") format("woff"),
    url("https://cdn.ady.systems/typeface/NeuePlak-WideBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Plak Wide Extra";
  src: url("https://cdn.ady.systems/typeface/NeuePlak-WideExtraBlack.eot");
  src: local("Neue Plak Wide Extra Black"), local("NeuePlak-WideExtraBlack"),
    url("https://cdn.ady.systems/typeface/NeuePlak-WideExtraBlack.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.ady.systems/typeface/NeuePlak-WideExtraBlack.woff2") format("woff2"),
    url("https://cdn.ady.systems/typeface/NeuePlak-WideExtraBlack.woff") format("woff"),
    url("https://cdn.ady.systems/typeface/NeuePlak-WideExtraBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Plak Wide";
  src: url("https://cdn.ady.systems/typeface/NeuePlak-WideRegular.eot");
  src: local("Neue Plak Wide"), local("NeuePlak-WideRegular"),
    url("https://cdn.ady.systems/typeface/NeuePlak-WideRegular.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.ady.systems/typeface/NeuePlak-WideRegular.woff2") format("woff2"),
    url("https://cdn.ady.systems/typeface/NeuePlak-WideRegular.woff") format("woff"),
    url("https://cdn.ady.systems/typeface/NeuePlak-WideRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Plak Wide";
  src: url("https://cdn.ady.systems/typeface/NeuePlak-WideSemiBold.eot");
  src: local("Neue Plak Wide Semi Bold"), local("NeuePlak-WideSemiBold"),
    url("https://cdn.ady.systems/typeface/NeuePlak-WideSemiBold.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.ady.systems/typeface/NeuePlak-WideSemiBold.woff2") format("woff2"),
    url("https://cdn.ady.systems/typeface/NeuePlak-WideSemiBold.woff") format("woff"),
    url("https://cdn.ady.systems/typeface/NeuePlak-WideSemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Plak Wide";
  src: url("https://cdn.ady.systems/typeface/NeuePlak-WideBlack.eot");
  src: local("Neue Plak Wide Black"), local("NeuePlak-WideBlack"),
    url("https://cdn.ady.systems/typeface/NeuePlak-WideBlack.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.ady.systems/typeface/NeuePlak-WideBlack.woff2") format("woff2"),
    url("https://cdn.ady.systems/typeface/NeuePlak-WideBlack.woff") format("woff"),
    url("https://cdn.ady.systems/typeface/NeuePlak-WideBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/*
 *
 * @fontface
 * MOLDE EXPANDED
 *
 */

@font-face {
  font-family: "Molde Expanded";
  src: url("https://cdn.ady.systems/typeface/Molde-Expanded-Black.eot");
  src: local("Molde Expanded Black"), local("Molde-Expanded-Black"),
    url("https://cdn.ady.systems/typeface/Molde-Expanded-Black.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.ady.systems/typeface/Molde-Expanded-Black.woff2") format("woff2"),
    url("https://cdn.ady.systems/typeface/Molde-Expanded-Black.woff") format("woff"),
    url("https://cdn.ady.systems/typeface/Molde-Expanded-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Molde Expanded";
  src: url("https://cdn.ady.systems/typeface/Molde-Expanded-Bold.eot");
  src: local("Molde Expanded Bold"), local("Molde-Expanded-Bold"),
    url("https://cdn.ady.systems/typeface/Molde-Expanded-Bold.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.ady.systems/typeface/Molde-Expanded-Bold.woff2") format("woff2"),
    url("https://cdn.ady.systems/typeface/Molde-Expanded-Bold.woff") format("woff"),
    url("https://cdn.ady.systems/typeface/Molde-Expanded-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Molde Expanded";
  src: url("https://cdn.ady.systems/typeface/Molde-Expanded-Heavy.eot");
  src: local("Molde Expanded Heavy"), local("Molde-Expanded-Heavy"),
    url("https://cdn.ady.systems/typeface/Molde-Expanded-Heavy.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.ady.systems/typeface/Molde-Expanded-Heavy.woff2") format("woff2"),
    url("https://cdn.ady.systems/typeface/Molde-Expanded-Heavy.woff") format("woff"),
    url("https://cdn.ady.systems/typeface/Molde-Expanded-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Molde Expanded";
  src: url("https://cdn.ady.systems/typeface/Molde-Expanded-Medium.eot");
  src: local("Molde Expanded Medium"), local("Molde-Expanded-Medium"),
    url("https://cdn.ady.systems/typeface/Molde-Expanded-Medium.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.ady.systems/typeface/Molde-Expanded-Medium.woff2") format("woff2"),
    url("https://cdn.ady.systems/typeface/Molde-Expanded-Medium.woff") format("woff"),
    url("https://cdn.ady.systems/typeface/Molde-Expanded-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Molde Expanded";
  src: url("https://cdn.ady.systems/typeface/Molde-Expanded-Regular.eot");
  src: local("Molde Expanded"), local("Molde-Expanded-Regular"),
    url("https://cdn.ady.systems/typeface/Molde-Expanded-Regular.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.ady.systems/typeface/Molde-Expanded-Regular.woff2") format("woff2"),
    url("https://cdn.ady.systems/typeface/Molde-Expanded-Regular.woff") format("woff"),
    url("https://cdn.ady.systems/typeface/Molde-Expanded-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Molde Expanded";
  src: url("https://cdn.ady.systems/typeface/Molde-Expanded-Semibold.eot");
  src: local("Molde Expanded Semibold"), local("Molde-Expanded-Semibold"),
    url("https://cdn.ady.systems/typeface/Molde-Expanded-Semibold.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.ady.systems/typeface/Molde-Expanded-Semibold.woff2") format("woff2"),
    url("https://cdn.ady.systems/typeface/Molde-Expanded-Semibold.woff") format("woff"),
    url("https://cdn.ady.systems/typeface/Molde-Expanded-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/*
 *
 * @fontface
 * MOLDE SEMI EXPANDED
 *
 */

@font-face {
  font-family: "Molde Semi Expanded";
  src: url("https://cdn.ady.systems/typeface/Molde-SemiExpanded-Medium.eot");
  src: local("Molde Semi Expanded Medium"), local("Molde-SemiExpanded-Medium"),
    url("https://cdn.ady.systems/typeface/Molde-SemiExpanded-Medium.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.ady.systems/typeface/Molde-SemiExpanded-Medium.woff2") format("woff2"),
    url("https://cdn.ady.systems/typeface/Molde-SemiExpanded-Medium.woff") format("woff"),
    url("https://cdn.ady.systems/typeface/Molde-SemiExpanded-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Molde Semi Expanded";
  src: url("https://cdn.ady.systems/typeface/Molde-SemiExpanded-Semibold.eot");
  src: local("Molde Semi Expanded Semibold"), local("Molde-SemiExpanded-Semibold"),
    url("https://cdn.ady.systems/typeface/Molde-SemiExpanded-Semibold.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.ady.systems/typeface/Molde-SemiExpanded-Semibold.woff2") format("woff2"),
    url("https://cdn.ady.systems/typeface/Molde-SemiExpanded-Semibold.woff") format("woff"),
    url("https://cdn.ady.systems/typeface/Molde-SemiExpanded-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Molde Semi Expanded";
  src: url("https://cdn.ady.systems/typeface/Molde-SemiExpanded-Bold.eot");
  src: local("Molde Semi Expanded Bold"), local("Molde-SemiExpanded-Bold"),
    url("https://cdn.ady.systems/typeface/Molde-SemiExpanded-Bold.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.ady.systems/typeface/Molde-SemiExpanded-Bold.woff2") format("woff2"),
    url("https://cdn.ady.systems/typeface/Molde-SemiExpanded-Bold.woff") format("woff"),
    url("https://cdn.ady.systems/typeface/Molde-SemiExpanded-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Molde Semi Expanded";
  src: url("https://cdn.ady.systems/typeface/Molde-SemiExpanded-Regular.eot");
  src: local("Molde Semi Expanded"), local("Molde-SemiExpanded-Regular"),
    url("https://cdn.ady.systems/typeface/Molde-SemiExpanded-Regular.eot?#iefix") format("embedded-opentype"),
    url("https://cdn.ady.systems/typeface/Molde-SemiExpanded-Regular.woff2") format("woff2"),
    url("https://cdn.ady.systems/typeface/Molde-SemiExpanded-Regular.woff") format("woff"),
    url("https://cdn.ady.systems/typeface/Molde-SemiExpanded-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*
* BERGEN MONOSPACE
* Regular
*/

@font-face {
  font-family: "Bergen Mono";
  src: url("https://cdn.ady.systems/fontface/BergenMono-Regular.eot");
  src: local("/fonts/BergenMono-Regular.woff2"),
    local("/fonts/BergenMono-Regular.woff"),
    url("https://cdn.ady.systems/fontface/BergenMono-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.ady.systems/fontface/BergenMono-Regular.woff2")
      format("woff2"),
    url("https://cdn.ady.systems/fontface/BergenMono-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Semi-Bold */

@font-face {
  font-family: "Bergen Mono";
  src: url("https://cdn.ady.systems/fontface/BergenMono-SemiBold.eot");
  src: local("/fonts/BergenMono-SemiBold.woff2"),
    local("/fonts/BergenMono-SemiBold.woff"),
    url("https://cdn.ady.systems/fontface/BergenMono-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.ady.systems/fontface/BergenMono-SemiBold.woff2")
      format("woff2"),
    url("https://cdn.ady.systems/fontface/BergenMono-SemiBold.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
}

/* Bold */

@font-face {
  font-family: "Bergen Mono";
  src: url("https://cdn.ady.systems/fontface/BergenMono-Bold.eot");
  src: local("/fonts/BergenMono-Bold.woff2"),
    local("/fonts/BergenMono-Bold.woff"),
    url("https://cdn.ady.systems/fontface/BergenMono-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.ady.systems/fontface/BergenMono-Bold.woff2")
      format("woff2"),
    url("https://cdn.ady.systems/fontface/BergenMono-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
