.footer__content {
  font-family: 'Folio Std', sans-serif;
  color: #91AEC1 !important;
  align-items: center;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 22px;
  z-index: 8888;

  > * {
    flex: 1;
    margin: 0 3rem;
  }

  @media (max-width: $mobile) {
    flex-direction: column;
    row-gap: 1rem;
  }
}

.footer__alt {
  font-family: 'Folio Std', sans-serif;
  color: #000 !important;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 18px;
  z-index: 8888;

  > * {
    flex: 1;
    margin: 0 3rem;
  }

  @media (max-width: $mobile) {
    flex-direction: column;
    row-gap: 1rem;
  }
}

.footer__left {
  text-align: left;
}

.footer__center {
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  line-height: normal;

  .link {
    margin: 0 1rem;
  }
}

.footer__right {
  text-align: right;
  line-height: normal;

  .atelier__title {
    font-weight: 300;
    font-size: 11px;
    margin-left: 1rem;
    line-height: normal;
  }
}

.footer__left,
.footer__right {
  opacity: 0.6;
  transition: opacity 100ms ease-in;

  &:hover {
    opacity: 1;
  }
}
