/* All typography styles */

strong {
  font-family: 'Helvetica Now Text', sans-serif;
  font-weight: 500;
  font-style: normal;
}

h1 {
  font-family: 'Helvetica Now Text', sans-serif;
  font-size: 45px;
  font-weight: 800;
  font-style: normal;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -0.1rem;
  padding: 8px;
  color: #333333;
  z-index: 9999;
}

h2 {
  font-family: 'Helvetica Now Text', sans-serif;
  font-size: 38px;
  font-weight: 800;
  font-style: normal;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -0.1rem;
  padding: 8px;
  color: #333333;
  z-index: 9999;
}

h3 {
  font-family: 'Helvetica Now Text', sans-serif;
  font-size: 30px;
  font-weight: 800;
  font-style: normal;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -0.1rem;
  padding: 8px;
  color: #333333;
  z-index: 9999;
}

h4 {
  font-family: 'Helvetica Now Text', sans-serif;
  font-size: 24px;
  font-weight: 800;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: uppercase !important;
  padding: 8px;
  color: #333333;
  z-index: 9999;
}

h5 {
  font-family: 'Neue Plak Wide', sans-serif;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: uppercase !important;
  padding: 8px;
  color: #333333;
  z-index: 9999;
}

h6 {
  font-family: 'Neue Plak Wide', sans-serif;
  font-size: 40px;
  font-weight: 800;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: uppercase !important;
  padding: 8px;
  color: #333333;
  z-index: 9999;
}


@media only screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 34px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 26px;
  }
  h5 {
    font-size: 24px;
  }
  h6 {
    font-size: 24px;
  }
}

p {
  font-family: 'Helvetica Now Text', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0;
  padding: 8px;
  color: #999999;
  z-index: 9999;
}

.p_lg {
  font-family: 'Helvetica Now Text', sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0;
  color: #999999;
  z-index: 9999;
}

.p_dark {
  font-family: 'Helvetica Now Text', sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0;
  color: #231f20;
  z-index: 9999;
}

p:link,
p:a {
  color: #231f20;
}
