form {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  margin: 0;
  padding: inherit;
  width: 100% !important;
}

@media only screen and (max-width: 500px) {
  form {
    box-sizing: border-box;
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    margin: 0;
    padding: inherit;
    width: 100% !important;
  }
}
