@import url('https://cdn.hldtru.space/stylesheets/ScaniaSans.css');
@import url('https://cdn.hldtru.space/stylesheets/SFPro.css');
@import "variables";
@import "fonts";
@import "main";
@import "footer";
@tailwind base;
@tailwind components;
@tailwind utilities;

.canvas {
  position: fixed;
  scroll-behavior: none;
  max-width: 100vw;
  max-height: 100vh;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 0rem;
	z-index: 1;
  background-color: transparent !important;
}

.crater {
  max-width: 100vw;
  overflow: scroll;
  height: 100%;
  width: 100%;
  padding: 4px;
  margin: auto;
	z-index: 1;
  background-color: transparent;
}

.overlay {
  z-index: 9999;
  font-family: "Menlo", monospace;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  -webkit-user-select: none;
}

.overlay__link {
  color: #FF0 !important;
  text-decoration: none;
}

.overlay__link:hover {
  text-decoration: underline;
}

.svg__logo {
  z-index: 7777;
  max-width: 140px;
  color: #fff;
  display: flex;
}

.free__sample {
  background-color: #000;
  color: #fff;
  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  margin: 0 auto;
  padding: 0;
  min-width: 100vw;
}

.video {
  object-fit: cover;
  object-position: 50% 50%;
  max-width: 100vw;
  max-height: 100vh;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.clock {
  z-index: 100;
}

.scania_heading {
  font-family: 'SF Pro Display', sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  color: #000;
}

.scania__heading {
  font-family: 'Scania Sans CY Headline', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  color: #000;
  padding-top: 2px;
}

.scania_body {
  font-family: 'SF Pro Display', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  color: #000;
  z-index: 30;
  padding-left: 2px;
  padding-top: 10px;
  padding-right: 4px;
  padding-bottom: 2px;
}

.scania_bodysmall {
  font-family: 'SF Pro Display', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 0.03rem;
  color: gray;
  z-index: 30;
  padding-left: 2px;
  padding-top: 2px;
  padding-right: 4px;
}

.center__links {
  text-align: center;
  color: #000;
}

.heading {
	font-family: 'Scania Sans CY Headline', sans-serif !important;
	font-weight: bold;
	font-style: normal;
  font-size: 3rem !important;
}

.heading_sf {
	font-family: 'SF Pro Display', sans-serif !important;
	font-weight: 600;
	font-style: normal;
  font-size: 3.5rem !important;
}

.heading_sf:hover {
  opacity: 0.8;
}

.image__height {
  height: $h400;
}

@media only screen and (max-width: 600px) {
  .heading {
    font-size: 2.5rem !important;
  }
}
