/* Custom Components & Variables */

@import "fontface";
@import "variables";
@import "components";
@import "elements";
@import "fonts";
@import "main";
@import "footer";
@import "header";
@import "video";

/* Tailwind.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: transparent;
  --tw-ring-color: transparent;
  --tw-ring-offset-shadow: 0;
  --tw-ring-shadow: 0
}

/* Text Styles */

strong {
  font-family: 'Helvetica Now Text', sans-serif;
  font-weight: bold;
  font-style: normal;
}

h1 {
  font-family: 'Neue Plak Extra', sans-serif;
  font-size: 34px;
  font-weight: 900;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.05rem;
  padding: 8px;
  color: #333333;
  z-index: 9999;
}

h2 {
  font-family: 'Helvetica Now Text', sans-serif;
  font-size: 42px;
  font-weight: bold;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.05rem;
  padding: 8px;
  color: #333333;
  z-index: 9999;
}

h3 {
  font-family: 'Helvetica Now Text', sans-serif;
  font-size: 40px;
  font-weight: 800;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.1rem;
  padding: 8px;
  color: #333333;
  z-index: 9999;
}

h4 {
  font-family: 'Helvetica Now Text', sans-serif;
  font-size: 34px;
  font-weight: 800;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: uppercase !important;
  padding: 8px;
  color: #333333;
  z-index: 9999;
}

h5 {
  font-family: 'Helvetica Now Text', sans-serif;
  font-size: 40px;
  font-weight: 900;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: uppercase !important;
  padding: 8px;
  color: #333333;
  z-index: 9999;
}

h6 {
  font-family: 'Neue Plak Wide', sans-serif;
  font-size: 32px;
  font-weight: 900;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.05rem;
  padding: 8px;
  color: #91AEC1;
  z-index: 9999;
}

@media only screen and (max-width: 600px) {
  h3 {
    font-size: 42px;
  }
  h4 {
    font-size: 26px;
  }
}

p {
  font-family: 'Helvetica Now Text', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0;
  padding: 8px;
  color: #999999;
  z-index: 9999;
}

.p__thin {
  font-family: 'Helvetica Now Text', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0;
  padding: 8px;
  color: #999999;
  z-index: 9999;
}

p:link,
p:a {
  color: #231f20;
}

/* MAIN STYLES */

.canvas {
  position: fixed;
  scroll-behavior: none;
  max-width: 100vw;
  max-height: 100vh;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 0rem;
	z-index: 1;
  background-color: transparent !important;
}

.sand__box {
  max-width: 100vw;
  overflow: scroll;
  height: 100%;
  width: 100%;
  padding: 4px;
  margin: auto;
	z-index: 1;
  background-color: transparent;
}

.overlay {
  z-index: 9999;
  font-family: 'Mono', monospace;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  position: absolute;
  color: #231f20;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  -webkit-user-select: none;
}

@media only screen and (max-width: 600px) {
.overlay {
  color: #231f20;
 }
}

.overlay__link {
  color: #91AEC1 !important;
  text-decoration: none !important;
}

.overlay__big {
  font-family: 'Folio Std', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #91AEC1 !important;
  text-decoration: none;
  padding-top: 60px;
}

.overlay__main {
  font-family: "Mono";
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: #000 !important;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}

.overlay__link:hover {
  text-decoration: underline;
}

.image__title {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Helvetica Now Text', sans-serif;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  line-height: 1;
  color: #fff;
  z-index: 30;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 4px;
  padding-bottom: 2px;
}

.image__sub {
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Helvetica Now Text', sans-serif !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  z-index: 30;
  padding-left: 20px;
  padding-top: 60px;
  padding-right: 4px;
  padding-bottom: 2px;
}

.block {
  position: relative;
  width: 100vw;
  height: auto;
  overflow: auto;
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 3rem;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .block {
    padding: 0rem;
    margin: 0;
  }
}

.section__title__left {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  text-align: left;
  padding-left: 0px;
  padding-bottom: 12px;
  padding-top: 20px;
  padding-right: 0px;
}

@media only screen and (max-width: 600px) {
  .section__title__left {
    padding-left: 5px;
    padding-bottom: 12px;
    padding-top: 20px;
    padding-right: 0px;
  }
}

.center__div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  align-items: center;
  margin: auto;
  background-color: transparent;
  padding: 2rem;
  z-index: 2;
}

@media screen only and (max-width: 600px) {
  .center__div {
    padding: 1rem;
  }
}

.svg__logo {
  z-index: 7777;
  max-width: 140px;
  color: #fff;
  display: flex;
}

.svg__logo:hover {
  cursor: pointer;
}

.caption__title {
  font-family: 'Helvetica Now Text', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: normal;
  line-height: 1;
  color: #333333;
  z-index: 30;
  padding-left: 4px;
  padding-top: 10px;
  padding-right: 4px;
  padding-bottom: 2px;
}

.caption__description {
  font-family: 'Helvetica Now Text', sans-serif;
  font-size: 13px;
  font-style: 500;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 0rem;
  color: gray;
  z-index: 30;
  padding-left: 4px;
  padding-top: 2px;
  padding-right: 4px;
}

.center__links {
  text-align: center;
  color: #000;
}

.image__xl {
  height: $h700;
}

.image__lg {
  height: $h600;
}

.image__md {
  height: $h500;
}

.image__sm {
  height: $h400;
}

@media only screen and (max-width: 600px) {
  .image__xl {
    height: $h600;
  }

  .image__lg {
    height: $h500;
  }

  .image__md {
    height: $h400;
  }

  .image__sm {
    height: $h600;
  }
}

.spa__cer {
  width: 100vw;
  margin: 0;
  padding: 0;
  height: 200px;
  background-color: transparent;
}

@media only screen and (max-width: 600px) {
  .heading {
    font-size: 2.5rem !important;
  }
}

//* Products (svg) *//
.product__svg {
  position: absolute;
  top: 0;
  padding-top: 10px;
  z-index: 500;
  margin: auto;
  align-items: center;
  font-size: 16px;
  text-align: center;
  color: #000;
  width: 50%;
  line-height: 1.3;
}

@media only screen and (max-width: 800px) {
.product__svg {
  padding-top: 15px;
  font-size: 16px;
  width: 70%;
  line-height: 1.3;
 }
}
